<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Shiro示例</title>
<link href="#" th:href="@{/css/index.min.css}" rel="stylesheet">
</head>
<body>
	<div>
		<form>
			<input type="text" name="username" placeholder="用户名" />
			<input type="password" name="password" placeholder="密码" />

			<button type="submit" >提交</button>
		</form>

		<div id="errMsg" style="color: red;"></div>
	</div>

	<script type="text/javascript" th:src="@{/js/index.min.js}"></script>

	<script th:inline="javascript">

		var ctxPath=/*[[@{/}]]*/;

	</script>
</body>
</html>